<div class="search-bar">
  <div class="search-bar-picker grow-1">
    <mat-select class="FormInput size-48" [(ngModel)]="selectedOption" (selectionChange)="onSelectChange($event)">
      <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </div>

  <div class="search-bar-input grow-2">
    <input class="FormInput grow-1 size-48" matInput placeholder="Ingrese texto" [(ngModel)]="searchText">
  </div>

  <div class="search-bar-buttons">
    <button class="secondary-button-auto grow-1 size-48" mat-raised-button (click)="clearSearch()">
      <mat-icon>clear</mat-icon> Limpiar
    </button>
    <button class="primary-button-auto grow-1 size-48" mat-raised-button (click)="applyFilter()">
      <mat-icon>filter_list</mat-icon> Filtrar
    </button>
  </div>
</div>