.search-bar {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre los elementos */
}

.search-bar-picker,
.search-bar-input {
  flex: 1; /* Hacer que ocupen el mismo espacio */
}

.search-bar-buttons {
  display: flex;
  gap: 10px; /* Espaciado entre los botones */
}

.secondary-button-auto,
.primary-button-auto {
  border-radius: 5px; /* Bordes redondeados */
  min-width: 100px; /* Ancho mínimo para los botones */
}
