/* src/app/heroes/components/hero-list/hero-list.component.scss */
@import 'src/styles/mixins';

.hero-list {
  // Estilos generales
  .filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  }

  // Estilos responsivos
  @include respond-to('small') {
    .filter-container {
      flex-direction: column;
      align-items: stretch;

      input,
      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    table {
      font-size: 14px;
    }
  }
}
