<div class="edit-hero-container">
  <h2 class="hero-title">Actualizar un Héroe</h2>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">

    <div class="input-container">
      <label>ID</label>
      <input type="text" formControlName="id" readonly />
    </div>

    <div class="input-container">
      <label>Nombre del Héroe</label>
      <input type="text" formControlName="superhero" />
    </div>

    <div class="input-container">
      <label>Descripción</label>
      <textarea formControlName="description"></textarea>
    </div>


    <div class="input-container">
      <label>Comic</label>
      <input type="text" formControlName="comic" />
    </div>

    <div class="btns_form">
      <button mat-button class="btn_cancelar" type="button" (click)="cancelar()">
        <span class="color">Cancelar</span>
      </button>

      <button mat-button class="btn_actualizar" type="submit">
        <span class="color">Actualizar Héroe</span>
      </button>
    </div>
  </form>
</div>
