@import '../../shared-styles.scss';



/******--------------------- mixins para Matdialog--------------******/

.dialog-container {
  @include dialog-style;
}
.dialog-title {
  @include typography(1.55rem, bold, #f53636);
  text-align: center;
  margin-bottom: 15px;
}
.dialog-message {
  @include typography(20px, normal, #67748e);
  text-align: center;
  margin-bottom: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: space-around;
}

.btn-cancelar {
  @include button-style(#0ea23b); // Usa un color adecuado
}

.btn-aceptar {
  @include button-style(#f53636); // Usa un color adecuado
}

/******--------------------- mixins para sidebar--------------******/



// Mixin para contenedores centrados
@mixin center-content($flex-direction: column, $gap: 15px) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

// Mixin para estilos de botón
@mixin button-style($border-color) {
  background-color: #ffffff;
  border: 2px solid $border-color;
  color: $border-color;
  padding: 5px;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: $border-color;
    color: #ffffff;
    box-shadow: 0 0 8px $border-color;
  }
}

// Mixin para hacer el layout responsivo
@mixin responsive-sidebar {
  @media (max-width: 768px) {
    flex-direction: column;

    .filter-buttons {
      flex-direction: column;
      width: 100%;
    }
  }
}
