<div class="list-heroes">
  <h4>Galería de Héroes</h4>
  <app-search-filter [primaryPlaceholder]="'Seleccione un Filtro'" [secondaryPlaceholder]="'Buscando'"
    [options]="searchOptions" [useMatSelect]="useMatSelect" [secondaryOptions]="heroNames"
    (filterApplied)="onFilterApplied($event)" (selectedOptionChange)="onSelectChange($event)"  (clear)="clearInputs()">>
  </app-search-filter>



  <div class="heroes-grid" *ngIf="filteredHeroes && filteredHeroes.length > 0">
    <mat-card *ngFor="let hero of filteredHeroes | paginate: { itemsPerPage: 3, currentPage: currentPage }"
      class="hero-card">
      <mat-card-header>
        <div mat-card-avatar class="hero-avatar">
          <img *ngIf="hero.comic" [src]="'img/' + hero.comic.toLowerCase() + '.jpg'" alt="{{ hero.superhero }}"
            class="hero-image" />
        </div>
        <mat-card-title>{{ hero.superhero }}</mat-card-title>
      </mat-card-header>

      <img [src]="'img/' + hero.comic + '.jpg'" alt="{{ hero.superhero }}" class="hero-image" />

      <mat-card-content>
        <p class="description">{{ hero.description }}</p>
      </mat-card-content>

      <mat-card-actions class="action_btn">
        <button mat-raised-button class="btn_editar" (click)="editHero(hero)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-raised-button class="btn_eliminar" (click)="openDeleteDialog(hero)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="no-heroes" *ngIf="!filteredHeroes || filteredHeroes.length === 0">
    <p>No se encontraron héroes que coincidan con la búsqueda.</p>
  </div>

  <pagination-controls (pageChange)="currentPage = $event" class="pagination"></pagination-controls>
</div>
