<!-- src/app/heroes/components/hero-form/hero-form.component.html -->
<div class="hero-form">
  <h2>{{ isEditMode ? 'Editar Héroe' : 'Añadir Héroe' }}</h2>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <label>
      Nombre:
      <input formControlName="name" appUpperCase />
      <div *ngIf="heroForm.get('name')?.invalid && heroForm.get('name')?.touched">
        El nombre es obligatorio.
      </div>
    </label>
    <label>
      Alias:
      <input formControlName="alias" />
    </label>
    <label>
      Poder:
      <input formControlName="superpower" />
    </label>
    <label>
      Universo:
      <input formControlName="universe" />
    </label>
    <button type="submit" [disabled]="heroForm.invalid">
      {{ isEditMode ? 'Actualizar' : 'Añadir' }}
    </button>
    <button type="button" (click)="onCancel()">Cancelar</button>
  </form>
</div>
